body{
  background: aqua;
}
box{
  height: 32%;
  width: 100%;
  background-color:#95389e;
  overflow: scroll;
}
i{
  font-size: 65px;
  color: rgb(0,203,0);
}
h3{
  text-align: center;
  font-family: open sans-serif, Arial;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #937d14;
  color: #fff;
}
tr:nth-child(odd){background-color: #fff;
}
tr:nth-child(4){
  background-color: #442727;
}

.collapse{
  height: 92%;
  background-color:red;
  overflow: hidden;
}
label {
  margin-bottom: -4px;
  display: block;
  color: #000;
}

.collapse .button{
  background-color: aqua;
  color: #000;
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px 60px;
  margin: 36px 0;
  text-decoration: none;
  display: inline-block;
}
input.check-box{
  margin: 1em 0em 0em 12em;
}

p{
  margin-left: 10em;
  color:blue;
  margin-top: 6.5em;
}

.modal {
  display: none;
}

.modal-content {
  width: 319px;
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
}

.close{
  font-size: 20px;
  background-color: #ddd;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
}
#myBtn{
  background-color: #0779e4;
  width: 68%;
  height: 7%;
  color: #fff;
  font-size: 16px;
  padding: 7px 5px 6px 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5em 0 0 3em;
  text-align: center;
  position: absolute;
}
#bton1{
  background-color: #0779e4;
  width: 68%;
  height: 7%;
  color: #fff;
  font-size: 16px;
  padding: 7px 5px 6px 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5em 0 0 3em;
  text-align: center;
  position: absolute;
}
#myBtn1{
  background-color: #0779e4;
  width: 68%;
  height: 7%;
  color: #fff;
  font-size: 16px;
  padding: 7px 5px 6px 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0 0 3em;
  text-align: center;
  position: absolute;
}
h2{
  color:#555;
  font-size: 21px;
}
.form-popup {
  display: none;
  position: absolute;
  bottom: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 90%;
  padding: 17px;
  background-color:#555;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 92%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 47px;
  border: none;
  margin-left:24px;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-pop{
  display: none;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: #f1f1f1;
}

input[type=text] {
  width: 70%;
  margin-bottom: 0px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 2em
}

.word{
  margin-bottom: 4px;
  display: block;
  color: #000;
  text-align: center;
  padding: 18px 4px 0 4px;
}
.collapse .btn-cancel{
  position: absolute;
  padding: 7px 7px 9px 9px;
  width: 78%;
  margin-left: -21em;
  margin-top: 9em;
  background: darkcyan;
  border-radius: 8px;
  color: #000;
  border: 2px solid black;
  cursor: pointer;
  display: inline-block;
}
b{
  color: cornsilk;
  font-family: cursive;
}
