body{
  background: #ddd;
}
#myDiv {
  text-align: center;
}
.container {
  background-color: #;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  border: 1px solid #dadce0;
  overflow: hidden;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 498px;
  background: #f1f1f1;
}
p {
   font-size: 15px;
   font-family: serif;
   text-align: inherit;
   padding: 4em;
   text-decoration-line: underline;
}

h1{
  font-size: 1.5em;
}
h2{
  font-size: 1em;
  padding-bottom: 4em;
}

.button1{
  color: #fff;
  cursor: pointer;
  background-color: #003359;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
  padding: 7px 100px;
}

button:hover{
  cursor: pointer;
  background-color: Black;
  transform: translateX(10px) skewX(-5deg);
  opacity: 0.9;
  transition:.7s;
}
a:link{
  text-decoration: none;
}
p:last-child{
  color: blue;
  cursor: pointer;
}
